@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@import "tailwindcss";

@theme {
  --font-allertaStencil: "Allerta Stencil", sans-serif;
}

* {
  box-sizing: border-box;
}

body{
  background-color: rgb(246, 233, 217);

}
